@import 'tailwindcss';


 h1, h2, p {
    word-break: break-all;
  }

  h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 700;
    align-self: center;
    background-image: linear-gradient(to bottom, #2563eb, #f87171);  
    background-clip: text;
  }

  a {
    outline: none;
  }

  button {
    border: none;
    cursor: pointer;
  }

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
